@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #b69507;
  border-bottom: 2px solid #b69507;
  border-color: #b69507;
}

.active:hover {
  border-bottom: 2px solid #b69507;
}
/* Custom scrollbar width */
.scrollbar-w-12::-webkit-scrollbar {
  width: 10px;
}
.scrollbar-w-9::-webkit-scrollbar {
  width: 0px;
}

/* Custom scrollbar track color */
.scrollbar-track-bg::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(0 8 20 / var(--tw-bg-opacity));
}

/* Custom scrollbar thumb color */
.scrollbar-thumb-bg::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(22 29 41 / var(--tw-bg-opacity)); /* Example color */
  /* richblck: 800px; */
}
.scrollbar-thumb-instructbg::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(0 8 20 / var(--tw-bg-opacity)); /* Example color */
  /* richblck: 800px; */
}
.bgcolor {
  background-color: wheat;
}
/* .inputplace ::placeholder {
  color: white !important;
  font-size: large;
} */

.box {
  box-shadow: 6px 6px 4px rgb(80, 82, 84);
}
.box2 {
  box-shadow: 3px 3px rgb(80, 82, 84);
}
.box3 {
  box-shadow: 3px 3px rgb(239, 217, 154);
}
.box :hover {
  font-size: 17px;
}
.icon:hover {
  fill: rgb(234,  223,  26);
}

.box :hover{
  font-size: 17px;
}
.icon:hover{
  fill: rgb(234, 223, 26);
}

.activitybox{
  background-color: rgb(18 33 55);
  box-shadow: 6px 6px 4px rgb(80, 82, 84);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.explore{
  margin-bottom: 20px;
  text-align: center;
  background-color: #212F3C;
  height: 34px;
  width: 100px;
  border-radius: 11px;
  padding: 5px;
  box-shadow: 4px 4px 2px rgb(80, 82, 84);
  color:#B69507;
}

.explore:hover{
  background-color: #41586d;
}

.activityTitle{
  color:white;
}

.heading{
  text-align: center;
  color:#B69507;
}