@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #B69507;
  border-bottom: 2px solid #B69507;
  border-color: #B69507;
}

.active:hover {
  border-bottom: 2px solid #B69507;
}
/* Custom scrollbar width */
.scrollbar-w-12::-webkit-scrollbar {
  width: 10px;
}

/* Custom scrollbar track color */
.scrollbar-track-bg::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(0 8 20 / var(--tw-bg-opacity));
}

/* Custom scrollbar thumb color */
.scrollbar-thumb-bg::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(22 29 41 / var(--tw-bg-opacity)); /* Example color */
}
.bgcolor {
  background-color: wheat;
}
/* .inputplace ::placeholder {
  color: white !important;
  font-size: large;
} */


.box{
  box-shadow: 6px 6px 4px rgb(80, 82, 84);
}
.box2{
  box-shadow: 3px 3px  rgb(80, 82, 84);
}
.box3{
  box-shadow: 3px 3px  rgb(239, 217, 154);
}
.box :hover{
  font-size: 17px;
}
.icon:hover{
  fill: rgb(234, 223, 26);
}