@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: red; /* text-red-600 */
  border-color: red; /* border-red-600 */
  border-bottom: 2px solid red; /* border-b-2 border-red-600 */
}

.line{
  display: flex;
  gap: 5px;
  align-items: center;
}
*{
  color: white;
}

.heading{
  background-color: #000814;
}
.platform{
  color: rgb(59, 236, 221);
}
.box{
  box-shadow: 6px 6px 4px rgb(80, 82, 84);
}
.box2{
  box-shadow: 3px 3px  rgb(80, 82, 84);
}
.box3{
  box-shadow: 3px 3px  rgb(239, 217, 154);
}
.box :hover{
  font-size: 17px;
}
.icon:hover{
  fill: rgb(234, 223, 26);
}







